.order-btn{
  background:#9333ea  ;
  padding: 1rem 4.5rem;
  border: 0;
  color: #fff;
  outline: 0;
  font-weight: 600 !important;
  border-radius: var(--border-radius);
  font-size: 1.7rem !important;
  white-space: nowrap;
  border: 1px solid #9333ea;
}

.order-btn:hover{
  background: #fff;
  color: #9333ea;
  border: 1px solid #9333ea;
}
