.cartItem{
    height: 150px;
}

.cartItem__header img{
    max-width: 120px;
 
}



.cartItem__container-one{
    position: relative;
}
.cart__bottom p{
font-size: 1.5rem;
}



.cartItem__price{
    font-size: 1.8rem;
}
.delete-btn{
    font-size: 1.6rem;
    border: 0 !important;
}

@media screen and (min-width: 500px){ 
    .cartItem__header img{
        max-width: 150px;
        /* height: 250px;
        object-fit: cover; */
    }
}









