:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
  }


.productItem{
    position: relative;
    max-width: 300px;
    margin: auto;

}
.productItem__bage{
    position: absolute;
    background: #c084fc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 
    width: 60px;
    height: 22px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    left: 30px;
    top: 16px;
}
.productItem__title {
    font-size: 1.5rem;
    color: #9a9a9a !important;
    font-weight: 100 !important;
}

.productItem__price{
    font-size: 1.3rem;
    font-weight: 400;
    
}
.price__main{
    color: #000000!important;
}
.price__del{
    color: #9a9a9a!important;
}

.productItem__star{
    font-size: 1.6rem;
    color: #ffcc00;

}

.productItem__header{
   /* background-color: #e7e7e7; */
   height: 260px;
}
.productItem__header img{
    width: 220px !important;
    margin: auto;
    object-fit: contain !important;
 
}

/* 
.productItem__header img{
    width: 240px;
    height: 200px !important;
    object-fit: contain;
}

@media screen and (min-width: 314px){ 
    .productItem__header img{
        width: 100px;
    }
}
@media screen and (min-width: 354px){ 
    .productItem__header img{
        width: 120px;
    }
}
@media screen and (min-width: 394px){ 
    .productItem__header img{
        width: 150px;
    }
}


@media screen and (min-width: 430px){ 
    .productItem__header img{
        width: 150px;
    }
}
@media screen and (min-width: 460px){ 
  
    .productItem__header img{
        width: 170px;
    }
}
@media screen and (min-width: 500px){ 
   
    .productItem__header img{
        width: 180px;
    }
}
@media screen and (min-width: 500px){ 
  
    .productItem__header img{
        width: 180px;
    }
}
@media screen and (min-width: 500px){ 
   
    .productItem__header img{
        width: 220px;
    }
}
 */
