.contact__adress{
    max-width: 700px;
    margin: auto;
}
.contact__address_head {
    max-width: 300px;
    margin: auto;
}
.contact__adress svg {
    color: #a853f6 !important;
    margin: auto;
    font-size: 3rem;
    transition: all 0.3s ease-in;
}
.contact__adress svg:hover {
    font-size: 2rem;
}
.address--icon{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: auto;
    display: inline-flex;
    align-items: center;
    border: 1px solid #f7f6fb;
    background: #f7f6fb;
}

.address__content h5{
    font-size: 2rem;
    font-weight: 700;
    color: #454545;
}
.address__content p{
    font-size: 1.8rem !important;
}