.contactForm{
    max-width: 400px;
    margin: auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.contactForm input{
    font-size: 1.6rem;
}

.form-label {
    font-size: 1.6rem !important;
}

@media screen and (min-width: 768px){ 
    .contactForm{
        max-width: 700px;
        margin: auto;
    }
}