
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100% !important;
  padding: 0.5rem 0rem;
  margin-top: 1.5rem;
 
  }

.brand-name {
  text-decoration: none;
 list-style: none;
  font-size: 2rem !important;
 
}
.brand-name h5 {
  text-decoration: none;
 list-style: none;
  font-size: 2rem !important;
 
}

.navigation-menu {
  margin-left: auto;
 
 
}

.navigation-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* margin-top: 1.6rem !important; */
  
  
}

.navigation-menu li {
  list-style-type: none;
  margin:  0;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #555;
  font-size:1.6rem ;
  font-weight: 600;
  margin: 0 1.6rem;
  
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 41px;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  color: var(--color-primary);
 
}

.hamburger:hover {
  background-color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px !important;
    left: 0;
    width: 100%;
    /* height: calc(100vh - 60px); */
    background-color: white;
    display: none;
 
  }

  .navigation-menu li {
    text-align: center;
   
    
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem ;
    font-size:1.7rem ;
    margin:  0;
    padding: 1.9rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}

.btn--nav{
  background: var(--color-primary) !important;
  outline: 0;
  color: #ffffff;
  padding: 1rem 3rem !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
  border: 1px solid var(--color-primary) !important;
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
  transition: all 0.8s ease-in 0s;
}
.btn--nav:hover{
  color: var(--color-primary)!important;
  background: #ffffff !important;
  border: 1px solid var(--color-primary) !important;
  border-radius: 30px;
 
}

























/* 
  


.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding:  0rem;
  margin-top: 0 !important;
  
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0.6rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 1.6rem !important;
  
}

.navigation-menu li {
  list-style-type: none;
  margin:  0;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #555;
  font-size:0.9rem ;
  font-weight: 600;
  margin: 0 1.6rem;
  
}

.hamburger {
  transform: translateY(-50%);
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  display: none;
  color: #2642af;
}

.hamburger svg {
  fill: #000;
}


.hamburger:hover {
  background-color: blueviolet;

}

.nav-icons{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.nav-list{
  position: relative;

}
.nav-icons li{
  padding: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

.nav-continer{
  position: absolute;
  background: #8854f1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  right: 1px;
  top: 8px;
}
.nav-continer span{
font-size: 0.8rem;
color: #ffffff;
font-weight: bold;
}

@media screen and (max-width: 768px) {
  .brand-name{
    margin-left: 1.5rem;
  }
  .hamburger {
    display: block;

    
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px !important;
    left: 0;
    width: 100%;
    background-color: white;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
   
    
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem ;
    font-size:1.2rem ;
    margin:  0;
    padding: 1rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .nav-icons{
   margin-right: 5rem;
  }
}

.primary{
  background: #8854f1 !important;
  border: 0 !important;
  outline: o;
  color: #ffffff;
  padding: 1.5rem 3.6rem;
  border-radius: 30px;
  font-weight: 600 !important;
  font-size: 1.5rem;
  transition: all 0.8s ease-in 0s;
}
.primary:hover{
  color: #8854f1 !important;
  background: #ffffff !important;
  border: 1px solid #8854f1 !important;
  border-radius: 30px;
 
}
 */
