@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body {
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

html{
  font-size: 62.5%;
}


p{
  font-size: 1.6rem;
  color: #6f6b80;
  
  
}

h1,h2,h3,h4,h5,h6{
  /* color: #454545 ; */
  color:var(--color-headings) ;
  font-weight: bold !important;
}
h1,h2,h3,h4,h5,h6, p,span{
  font-family: 'Open Sans', sans-serif;
}